@font-face {
  font-family: "PT Sans";
  src: url("../../fonts/ptsans.woff2") format("woff2"), url("../../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../../fonts/ptsansbold.woff2") format("woff2"), url("../../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidde {
  display: none;
}

.button {
  text-decoration: none;
  background-color: #81b3d2;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  color: #ffffff;
}

.main-header {
  background-color: #ffffff;
}

.main-header__logo {
  width: 185px;
  height: 96px;
}

.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
}

.hero {
  background-color: #ffffff;
}

.hero__image-wrapper {
  position: relative;
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.hero__image-wrapper::before {
  position: absolute;
  content: url("../img/svg-images/decorate-mobile.svg");
  bottom: 1px;
}

.hero__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.hero__text {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}

.page__body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

.advantages {
  background-color: #ffffff;
  text-transform: uppercase;
  color: #000000;
}

.advantages__list,
.advantages__sublist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__title,
.advantages__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.advantages__number,
.advantages__description {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.advantages__content-wrapper {
  text-align: center;
  background-color: #81b3d2;
  color: #ffffff;
}

.advantages__item--color {
  background-color: #eeeeee;
  text-align: center;
}

.advantages__subdescription {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.hotel-search {
  text-transform: uppercase;
  text-align: center;
}

.hotel-search__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
}

.hotel-search__text {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.hotel-search__button {
  font-size: 21px;
  line-height: 26px;
}

.page-footer {
  background-color: #ffffff;
}

.page-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.page-footer__copyright-link {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.page-footer__copyright {
  text-align: center;
}

.gallery__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery__title,
.gallery__count {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  margin: 0;
}

.gallery__author {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.form__legend {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.form__inputs-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__radio-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__checkbox-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.form__input {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
}

.form__radio-text,
.form__checkbox-text {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form__textarea {
  background-color: #f2f2f2;
}

.form__notice {
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
  margin: 0;
}

.video {
  text-align: center;
  text-transform: uppercase;
}

.video__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

.video__text {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.modal__title {
  margin: 0;
}

.modal__text {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */