.hotel-search {
  text-transform: uppercase;
  text-align: center;
}

.hotel-search__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
}

.hotel-search__text {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.hotel-search__button {
  font-size: 21px;
  line-height: 26px;
}
