.video {
  text-align: center;
  text-transform: uppercase;
}

.video__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $color-black;
  margin: 0;
}

.video__text {
  font-size: 14px;
  line-height: 21px;
  color: $color-gray;
  margin: 0;
}
